<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p>
 -->
<%="What do you want to say?" %>

<form action="/answer" method = "get">
  <input type="text" name="theirquestion">
  <input type="submit" value="Ask!">
</form>


